<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="bg-show">
    <nav class="all-nav">
        <a id="home" href="/countries">HOME</a>
        <% if (user) { %>
            <a href="/countries/<%= country._id %>/trips/new">Add New Trip</a>
            <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login"> LOG IN </a>
        <% } %>
    </nav>
</body>
</html>