.bg {
  background-image: url('https://i.imgur.com/d89rSkg.jpg');
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.bg-show {
  background-image: url('https://i.imgur.com/d89rSkg.jpg');
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.row-cols-1 {
  display: grid;
  grid-gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70%;
  align-content: center;
}

h1 {
  font-size: 4rem;
}

.index-nav {
  display: grid;
  font-size: 20px;
  background-color: rgba(0,0,0,.3);
  text-align: center;
  height: 60px;
  align-content: center;
  justify-items: end;
  padding-right: 30px;
}

.all-nav {
  display: flex;
  gap: 2rem;
  font-size: 20px;
  background-color: rgba(0,0,0,.3);
  text-align: center;
  height: 60px;
  padding-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.all-nav a {
  color: white;
}

.index-nav a {
  color: white;
}

.show-tip {
  font-size: 20px;
}

label {
  width: 100px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

.tip-text {
  vertical-align: top;
  width: 20em;
  height: 10rem;
}

#add-btn {
  margin: 10px;
  align-content: center;
  width: 250px;
}