<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/auto/google" class="login"> LOG IN </a>
    <form method="POST" action="/countries">
        <select>
            <% countries.forEach(c => { %>
                
                <option value="<%= c.country %>"> <%= c.country %> </option>
            <% }) %>
            
        </select>
        <a href="/countries/<%= countries._id %>">Details</a>
        <!-- <input type="text" name="country" autocomplete="off"> -->
        <!-- <input type="submit" value="Add New Country"> -->
    </form>
    <script>
    </script>
</body>
</html>