<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
        <a href="/logout">LOG OUT</a>
    <% } else { %>
        <a href="/auth/google" class="login"> LOG IN </a>
    <% } %>
    <form method="POST" action="/countries">
        <div><% countries.forEach(c => { %>
            <div><%= c.country %></div>
            <div><a href="/countries/<%= c._id %>">Open Tips</a></div>
        <% }) %>
        </div>
        <!-- <input type="text" name="country" autocomplete="off"> -->
        <!-- <input type="submit" value="Add New Country"> -->
    </form>
    <script>
    </script>
</body>
</html>